fastapi
uvicorn
sqlalchemy
alembic
psycopg2-binary
pydantic[email]
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2
python-multipart
google-auth
google-auth-oauthlib
groq
redis
sendgrid
python-dotenv
httpx
pytest
